<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=NotaFiscal;User Id=user; Password=passwd;MultipleActiveResultSets=True" />
	</connectionStrings>
</configuration>